{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Miami Data Extractor</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1.3">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}?v=2">    
</head>
<body>
<div class="logo-container">
    <img src="{% static 'images/mpe_logo.png' %}" alt="MPE Logo" class="logo-mpe">
</div>
<div class="container">
    <div class="tabs">
        <button class="tab-btn" onclick="openTab(event, 'tab2')">1.Map Generation</button>
        <button class="tab-btn" onclick="openTab(event, 'tab1')">2.PDF Batch Processing</button>
        <button class="tab-btn" onclick="openTab(event, 'tab3'); loadTab3();">3.Output columns</button>
        <button class="tab-btn" onclick="openTab(event, 'tab4'); loadTab4();">4.Filters</button>
        <button class="tab-btn active" onclick="openTab(event, 'tab5')">5.How to</button>
   
    </div>

    <div id="tab2" class="tab-content" style="display:none;">
        
        <h3>Single Map Generation</h3>  
             
        <div class="section_head">Select a pdf sample document to generate a map.</div> 
        <hr>
        <i>pdf folder</i><br>
        <input type="text" id="pdf_folder" value="{{pdf_folder}}" onchange="updateConfig('pdf_folder', this.value)" placeholder="/home/usuario/tu_carpeta">
        <i>pdf file name</i><br>
        <input type="text" id="pdf_input" value="{{pdf_input}}" onchange="updateConfig('pdf_input', this.value)" placeholder="/home/usuario/tu_carpeta">
        <div class="section_head">Select a route four your output mipe file</div> 
        <hr>
        <label>Output map path (Folder):</label>
        <input type="text" id="map_out" value="{{output_map_path}}" onchange="updateConfig('output_map_path', this.value)" placeholder="/home/usuario/tu_carpeta">

        
    <button onclick="executeAction('single')">Execute Mapping</button>

        <br/><br/><br/>
         <span style="font-size: 12px; font-style: italic;">This tab generates a map for a single PDF file.</span>
    </div>


    <div id="tab1" class="tab-content" style="display:none;">
        <h3>PDF Batch Processing</h3>
        <div class="section_head">
           Define the path to your map with named columns
        </div>
        <hr>
        <label>Route to .csv map folder (finish with /):</label>
        <input type="text" accept=".csv" id="map_file_folder" value="{{map_file_folder}}" onchange="updateConfig('map_file_folder', this.value)">
        
        <label>Name of .csv map file (.csv)*:</label>
        <input type="text" accept=".csv" id="map_file" value="{{map_file}}" onchange="updateConfig('map_file', this.value)">
        
        <div class="section_head">
           Define the path for your pdf batch folder and for your output file
        </div>
        <hr>
        <label>Massive PDF folder:</label>
        <input type="text" id="mass_pdf_folder" value="{{mass_pdf_folder}}" onchange="updateConfig('mass_pdf_folder', this.value)">
        
        <label>Excel output path:</label>
        <input type="text" id="excel_folder" value="{{excel_folder}}" onchange="updateConfig('excel_folder', this.value)">
        
        <label for="sensitivity">Tolerance: <span id="val-sensitivity">{{sensitivity}}</span></label>
        
         <div class="section_head">
           Define the area tolerance arround a an element in the map.
        </div>
        <hr>
        <span style="font-size: 12px; font-style: italic;">Margin units relative to the map coordinates</span>
        <input type="range" id="sensitivity" min="0" max="50" value="{{sensitivity}}"
                       oninput="document.getElementById('val-sensitivity').innerText = this.value" onchange="updateConfig('sensitivity', this.value)">
        
        <button onclick="executeAction('batch')">Execute Batch</button>
        <div id="progress-container" style="display:none; margin-top:15px;">
            <progress id="batch-progress-bar" value="0" max="100" style="width:100%;"></progress>
            <span id="batch-progress-text">0%</span>
        </div>
    </div>


    <div id="tab3" class="tab-content" style="display:none;">
        <h3>Map Editor (Tags)</h3>
        <div class="explanations">
        Each element in <b>left column</b> is a element in your map included in tab "PDF batch procesing".Be sure you defined a right path to a the .csv map file.
        </div>
        <div class="explanations">
        The <b>right column</b> indicates that elements in the same position in the batch files willl be extracted in a column with the choosen name. Only elements in the named positions are extracted.
        </div>  
        <div>

            <button class="save-btn" onclick="saveConfiguration()">Save Tags</button>    

        </div>
        
        <table  id="config-table">
        <thead>
            <tr>
                <th>PDF text in map</th>
                <th>Columne Name</th>
            </tr>
        </thead>
        <tbody id="config-body">
        </tbody>
        </table>

        </table>
        
    </div>
    <div id="tab4" class="tab-content" style="display:none;">
    <h3>Fileter management (CSV)</h3>
       
    If certain text is finded in the PDF, it will be replaced by the replacement text.<br/>
        
    <table class="table table-striped" id="table-filters">
        <thead>
            <tr>
                <th>Seek Text</th>
                <th>Replacement</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="body-filtros">
            </tbody>
    </table>
    <button class="save-btn" type="button" class="btn btn-secondary" onclick="agregarFilaFiltro()">+ add row</button>
    <button class="save-btn" type="button" class="btn btn-primary" onclick="saveFilters()">Save filters</button>
</div>  
    <div id="tab5" class="tab-content" style="">
        <h3>Instructions</h3>
        
        <div class="instructions-body">
        {% include 'extraction/instructions.html' %}
        </div>
        
    </div>
</div>
<script>const csrftoken = '{{ csrf_token }}';</script>
<script src="{% static 'js/script.js' %}?version=666"></script>
</body>
</html>