{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Miami Data Extractor</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1.1">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}?v=2">    
</head>
<body>
<div class="logo-container">
    <img src="{% static 'images/mpe_logo.png' %}" alt="MPE Logo" class="logo-mpe">
</div>
<div class="container">
    <div class="tabs">
        <button class="tab-btn active" onclick="openTab(event, 'tab1')">General & Batch</button>
        <button class="tab-btn" onclick="openTab(event, 'tab2')">Map Execution</button>
        <button class="tab-btn" onclick="openTab(event, 'tab3'); loadTab3();">Output columns</button>
        <button class="tab-btn" onclick="openTab(event, 'tab4'); loadTab4();">Filters</button>
        <button class="tab-btn" onclick="openTab(event, 'tab5')">How to</button>
   
    </div>

    <div id="tab1" class="tab-content">
        <h3>Batch Processing</h3>

        <label>csv folder (finish with /):</label>
        <input type="text" accept=".csv" id="map_file_folder" value="{{map_file_folder}}" onchange="updateConfig('map_file_folder', this.value)">
        
        <label>csv file (.csv):</label>
        <input type="text" accept=".csv" id="map_file" value="{{map_file}}" onchange="updateConfig('map_file', this.value)">
        
        <label>Massive PDF folder:</label>
        <input type="text" id="mass_pdf_folder" value="{{mass_pdf_folder}}" onchange="updateConfig('mass_pdf_folder', this.value)">
        
        <label>Excel output path:</label>
        <input type="text" id="excel_folder" value="{{excel_folder}}" onchange="updateConfig('excel_folder', this.value)">
        
        <label for="sensitivity">Sensibilidad (Holgura: <span id="val-sensitivity">5</span>px):</label>
        <input type="range" id="sensitivity" min="0" max="50" value="{{sensitivity}}"
                       oninput="document.getElementById('val-sensitivity').innerText = this.value" onchange="updateConfig('sensitivity', this.value)">

        <button onclick="executeAction('batch')">Execute Batch</button>
        <div id="progress-container" style="display:none; margin-top:15px;">
            <progress id="batch-progress-bar" value="0" max="100" style="width:100%;"></progress>
            <span id="batch-progress-text">0%</span>
        </div>
    </div>

    <div id="tab2" class="tab-content" style="display:none;">
        <h3>Single Map Execution</h3>
        
        <label>PDF to map (Path):</label> 
        <i>pdf folder</i><br>
        <input type="text" id="pdf_folder" value="{{pdf_folder}}" onchange="updateConfig('pdf_folder', this.value)" placeholder="/home/usuario/tu_carpeta">
        <i>File name</i><br>
        <input type="text" id="pdf_input" value="{{pdf_input}}" onchange="updateConfig('pdf_input', this.value)" placeholder="/home/usuario/tu_carpeta">
        <label>Output map path (Folder):</label>
        <input type="text" id="map_out" value="{{output_map_path}}" onchange="updateConfig('output_map_path', this.value)" placeholder="/home/usuario/tu_carpeta">

        
    <button onclick="executeAction('single')">Execute Mapping</button>
    </div>
    <div id="tab3" class="tab-content" style="display:none;">
        <h3>Editor de Plantilla (Etiquetado)</h3>
        Enter the names of the fields you want the app to extract. Leave fields blank to ignore them. Filled fields will be used as column headers.
       <table  id="config-table">
        <thead>
            <tr>
                <th>Texto PDF</th>
                <th>Nombre columna</th>
            </tr>
        </thead>
        <tbody id="config-body">
        </tbody>
        </table>

</table>
        <button onclick="saveConfiguration()">Guardar etiquetas</button>
    </div>
    <div id="tab4" class="tab-content" style="display:none;">
    <h3>Gestión de Filtros (CSV)</h3>
    <table class="table table-striped" id="table-filters">
        <thead>
            <tr>
                <th>Expresión a Buscar</th>
                <th>Reemplazo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="body-filtros">
            </tbody>
    </table>
    <button type="button" class="btn btn-secondary" onclick="agregarFilaFiltro()">+ Añadir Fila</button>
    <button type="button" class="btn btn-primary" onclick="saveFilters()">Guardar Filtros</button>
</div>  
    <div id="tab5" class="tab-content" style="display:none;">
        <h3>Instructions</h3>
        
        <div class="instructions-body">
        {% include 'extraction/instructions.html' %}
        </div>
        
    </div>
</div>
<script>const csrftoken = '{{ csrf_token }}';</script>
<script src="{% static 'js/script.js' %}?version=666"></script>
</body>
</html>